@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: FDF4F5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}
